/* colors:
  background: #0D3340;
  text: #94ABAE;
  color-1: #52BA65;
  color-2: #3B5F6D;
  color-3: #86A498;
  color-4: #85A498;
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Source+Sans+Pro&display=swap");

/* Front of the card */

body {
  margin: 20px;
  font-family: "Rubik", sans-serif;
}

.card-container-front {
  position: relative;
  width: 650px;
  height: 350px;
  background: #0d3340;
  margin: 30px auto;
  border-radius: 10px;
}

.top-design {
  display: flex;
  justify-content: center;
}

.top-box-left {
  width: 25px;
  height: 25px;
  background: #86a498;
}

.top-box-mid {
  width: 50px;
  height: 45px;
  background: #3b5f6d;
}

.top-box-right {
  width: 25px;
  height: 25px;
  background: #86a498;
}

.mid-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  row-gap: 7px;
}

.coder-logo {
  color: #52ba65;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.web-dev {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.name-1 {
  color: #94abae;
  margin: 0;
  font-weight: bold;
}

.bottom-design {
  display: flex;
  justify-content: center;
}

.bottom-box-mid {
  width: 50px;
  height: 45px;
  background: #3b5f6d;
  position: absolute;
  bottom: 0px;
}

.bottom-box-right {
  width: 25px;
  height: 25px;
  background: #86a498;
  position: absolute;
  bottom: 0px;
  right: 275px;
}

.bottom-box-left {
  width: 25px;
  height: 25px;
  background: #86a498;
  position: absolute;
  bottom: 0px;
  left: 275px;
}

/*  Main card */
.card-container-main {
  position: relative;
  width: 650px;
  height: 350px;
  background: #0d3340;
  margin: 0px auto;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
}

.left-design {
  background: #52ba65;
  width: 40px;
  height: 35px;
  position: absolute;
  top: 45px;
}

.name-profession {
  display: flex;
  flex-direction: column;
  padding: 33px 0px 0px 53px;
  line-height: 1.3;
}

.name-2 {
  color: #fff;
  font-size: 21px;
  margin: 0;
}

.profession {
  color: #94abae;
  font-size: 16px;
  margin: 0;
}

.address {
  display: flex;
  padding-top: 30px;
}

.fa-location-dot {
  color: #86a498;
  font-size: 25px;
  padding: 4px 7px 0px 33px;
}

.location-info {
  color: #94abae;
  font-size: 15px;
  width: 230px;
  margin: 0;
}

.contact-number {
  display: flex;
  padding-top: 25px;
}

.fa-square-phone {
  color: #86a498;
  font-size: 20px;
  padding: 4px 7px 0px 33px;
}

.smart-tm {
  padding-top: 4px;
}

.phone-number {
  color: #94abae;
  font-size: 15px;
  width: 200px;
  margin: 0;
}

.email-container {
  display: flex;
  padding-top: 15px;
}

.fa-envelope {
  color: #86a498;
  font-size: 20px;
  padding: 4px 7px 0px 33px;
}

.email-info {
  color: #94abae;
  margin: 0;
  font-size: 15px;
  padding-top: 4px;
}

.my-website {
  display: flex;
  padding-top: 20px;
}

.fa-globe {
  color: #86a498;
  font-size: 20px;
  padding: 4px 7px 0px 33px;
}

.website-link {
  color: #94abae;
  margin: 0;
  font-size: 15px;
  padding-top: 5px;
  text-decoration: none;
}

.mid-section-main {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
